:root{
    --max-width: 1360px; 
    --desktop-border: 60px;

    --color-background: #E9E9E9;
    --color-light: #E9E9E9;
    --color-dark: #000000;
    --color-link :#F95527;

    --text-desktop: 24px;
    --text-mobile: 16px;
}

