
@font-face{
    font-family: 'sohne';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/soehne-web-buch.woff') format('woff'),
        url('../fonts/soehne-web-buch.woff2') format('woff2');
}

@font-face{
    font-family: 'sohne';
    font-weight: bold;
    font-style: normal;
    src: local(SöhneTest-Buch);
    src: url('../fonts/soehne-web-dreiviertelfett.woff') format('woff'),
         url('../fonts/soehne-web-dreiviertelfett.woff2') format('woff2');
}


h1 {
    font-family: 'sohne';
    font-weight: normal;
    font-size: 3.2em;
    margin: 0 0 .2em 0;
}

h2 {
    font-family: 'sohne';
    font-weight: bold;
    font-size: 1em;
    line-height: 1.2;
    margin: 0;
}

h3 {
    font-family: 'sohne';
    font-weight: normal;
    font-size: 1em;
    line-height: 1.2;
    margin: 0;
}

p {
    line-height: 1.3;
}



a {
    font-style: normal;
    text-decoration: none;
    color: var(--color-link);
}

a:active {
    font-style: normal;
    text-decoration: none;
    color: var(--color-dark);
}

a:hover {
    font-style: normal;
    text-decoration: underline;
}