$backgroundColor: #E9E9E9;
$bodyColor: #000000;
$linkColor: #F95527;
$desktopWidth: 1360px;
$desktopBorder: 60px;
$bodyFont: 'sohne',serif,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$bodyDesktop: 24px;
$bodyMobile: 16px;


@font-face{
  font-family: 'sohne';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/soehne-web-buch.woff') format('woff');
  src: url('../fonts/soehne-web-buch.woff2') format('woff2');
}

@font-face{
  font-family: 'sohne';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/soehne-web-dreiviertelfett.woff') format('woff');
  src: url('../fonts/soehne-web-dreiviertelfett.woff2') format('woff2');
}


body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: "sohne";
  font-size: $bodyDesktop;
}

h1 {
  font-family: 'sohne';
  font-weight: bold;
}

a {
  color: $linkColor;
  font-style: none;
  text-decoration: none; 
}

a:visited{
  font-style: none;
}